.products {
  display: grid;
  background-color: #2196f3;
  grid-template-columns: auto auto auto;
  justify-content: center;
  /*  margin: 20px 0; */

  margin-top: ;
  padding: 0;
}
.products .card {
  /* margin: 10px auto; */
  padding: 0;
  margin: 0;
}
.products .card-img-top {
  overflow: hidden;
  height: 250px;
  width: 100%;
}
.products .card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
  text-transform: capitalize;
}
.products .card-text {
  height: 70px;
  overflow: hidden;
  text-transform: capitalize;
  color: black;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

/* --------- Detail Product ----------- */
.detail_page .img-thumbnail.active {
  border-color: orangered;
  padding: 2px;
}
